<h3>All posts</h3>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul> 

<div class="well">
  <span class="badge">
    link to category here, multiple
  </span>
  <h4>linked title</h4>
  <p>body</p>
  <p>
    <span class="quiet">posted by </span>
    link_to creator
    <small>timestamp</small>
  </p>
  <small><span>Number of comments</span></small>
</div>

